<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Win Time Pro</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>win_time_pro</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Win Time Pro utilise l'appareil photo pour photographier les plats et scanner les codes de commande.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Win Time Pro accède à vos photos pour vous permettre d'ajouter des images aux produits du menu.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Win Time Pro enregistre des images dans votre photothèque (par exemple les rapports).</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Win Time Pro utilise la position de votre établissement pour la géolocalisation des commandes.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Win Time Pro utilise la position de votre établissement pour la géolocalisation et la livraison.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Win Time Pro peut utiliser le microphone pour des fonctionnalités vocales optionnelles.</string>
	<key>NSContactsUsageDescription</key>
	<string>Win Time Pro peut accéder à vos contacts pour gérer votre carnet d'adresses professionnel.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Win Time Pro utilise Face ID pour sécuriser l'accès à votre compte professionnel.</string>
</dict>
</plist>
