# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart
*.mocks.dart
injection.config.dart

# Android
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/*.jks

# iOS
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Pods/
**/ios/.symlinks/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Env / secrets
.env
.env.*
*.env
google-services.json
GoogleService-Info.plist

# IDE
.idea/
.vscode/
*.iml

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
.git-credentials
